/* src/components/Layout/RootLayoutContent.module.css */

.container {
    display: flex;
    min-height: 100vh;
}

.mainContent {
    flex: 1;
    margin-left: 280px;
    /* Sidebar width */
    background-color: #0f172a;
    min-height: 100vh;
}

@media (max-width: 768px) {
    .mainContent {
        margin-left: 0;
    }
}